[submodule ".registry"]
	path = .registry
	url = https://github.com/re-qda/re-qda.r-universe.dev
	branch = HEAD
[submodule "requal"]
	path = requal
	url = https://github.com/RE-QDA/requal
	branch = v1.1.3
[submodule "requal-dev"]
	path = requal-dev
	url = https://github.com/RE-QDA/requal
	branch = main
